body {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

header {
  width: 850px;
  height: 450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border: black;
  border-radius: 2px;
  border-style: solid;
}

.slideshow {
  width: 100%;
  height: 450px;
  background-image: url(./1st\ slide\ slideshow\ nasa.png);
  animation: slideshow 15s ease-in-out 2s infinite;
  background-size: cover;
  background-position: center;
}

@keyframes slideshow {
  25% {
    background-image: url(https://cdn.pixabay.com/photo/2011/12/14/12/11/astronaut-11080_960_720.jpg);
    background-size: cover;
    background-position: center;
  }
  50% {
    background-image: url(https://cdn.pixabay.com/photo/2012/11/28/08/54/milky-way-67504_960_720.jpg);
    background-size: cover;
    background-position: center;
  }
  75% {
    background-image: url(https://cdn.pixabay.com/photo/2015/11/07/11/02/milky-way-1030765_960_720.jpg);
    background-size: cover;
    background-position: center;
  }
  100% {
    background-image: url(./1st\ slide\ slideshow\ nasa.png);
    background-size: cover;
    background-position: center;
  }
}

footer {
  background-color: rgb(230, 230, 230);
  width: 850px;
  height: 324px;
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
}

h2 {
  max-width: 270px;
  height: 324px;
  font-family: sans-serif;
}

h2 ul {
  font-size: 15px;
  font-weight: lighter;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.leftfoot {
  max-width: 270px;
  height: 125px;
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.middlefoot {
  max-width: 270px;
  height: 175px;
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

form {
  font-size: 15px;
  font-weight: 100;
  margin-top: 20px;
  max-width: 270px;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
}

#fullname {
  border: white;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#message {
  width: 100%;
  height: 60px;
  border: white;
  padding: 5px 10px;
}

.send {
  width: 70px;
  height: 30px;
  margin-top: 10px;
  background-color: 4d4d4d;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: white;
}
